---
import FeatureTags from "./FeatureTags.astro";
import Feature from "./Feature.astro";
import { features } from "../../data/features";
---

<div class="feature_component">
  <div class="container is-fluid mt-5">
    <h1 class="is-title is-size-1 has-text-centered has-text-weight-bold mb-3">
      <ruby>My Features</ruby>
    </h1>

    <FeatureTags />

    {features.map((feature) => (
      <Feature
        title={feature.title}
        description={feature.description}
        imageName={feature.imageName}
        points={feature.points}
        imagePosition={feature.imagePosition}
      />
    ))}
  </div>
</div>
